/WebAPI_delete/.vs
/WebAPI_delete/WebAPI_delete/obj
/WebAPI_delete/WebAPI_delete/WebAPI_delete.csproj.user
/WebAPI_delete/WebAPI_delete/bin
/WebAPI_get/.vs
/WebAPI_get/WebAPI_get/obj
/WebAPI_get/WebAPI_get/WebAPI_get.csproj.user
/WebAPI_get/WebAPI_get/bin
/WebAPI_post/.vs
/WebAPI_post/WebAPI_post/WebAPI_post.csproj.user
/WebAPI_post/WebAPI_post/bin
/WebAPI_post/WebAPI_post/obj
/WebAPI_put/.vs
/WebAPI_put/WebAPI_put/WebAPI_put.csproj.user
/WebAPI_put/WebAPI_put/bin
/WebAPI_put/WebAPI_put/obj
/WebAPI_db/.vs
/WebAPI_db/WebAPI_db/obj
/WebAPI_db/WebAPI_db/bin
